.footer {
  background-color: #2a2c2f;
  padding: 24px 0;
  display: flex;
  justify-content: center;
  border: none;
}

.footer__text {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
}

@media screen and (max-width: 543px) {
  .footer__text {
    font-size: 12px;
    text-align: center;
  }
}
