.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  aspect-ratio: 1184 / 442;
  gap: 10px;
  max-width: 1184px;
  padding: 0;
  margin: 80px auto 0;
  box-sizing: border-box;
}

.photo-grid__image {
  width: 100%;
  aspect-ratio: 284 / 213;
  object-fit: cover;
  display: block;
  border-radius: 4px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 543px) {
  .photo-grid {
    grid-template-columns: 1fr;
  }
}
